[Desktop Entry]
Type=Application
Comment=Tor Anonymity network controller, anonymous internet.
Name=Tor Controller
GenericName[en_US]=Tor Anonymity network controller.
Exec=tor-controller.sh --gui
Categories=Network;Internet;Networking;Privacy;Tor;VPN;
Icon=applications-internet
NoDisplay=false
StartupNotify=false
Terminal=0
TerminalOptions=
